@media (min-width: 38em) {
    #nav1 .navigation {
        display: flex;
    }

    #nav1 .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #nav1 .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    .nav-div nav {
        display: flex;
    }

    #logo {
        float: left;
        max-width: 115px;
        margin: auto 3rem;
        border-radius: 15px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        border-bottom: 10px solid var(--secondary-color);
        align-items: center;
        padding: 1rem 3rem 1rem 0;
    }

    .nav-div {
        margin-left: 2rem;
    }

    .freedom {
        padding: 1rem;
        position: absolute;
        top: 16rem;
        left: 1rem;
        right: 1rem;

        opacity: 0;
        transition: 3s opacity 1s ease-in-out;
    }

    .freedom.visible {
        background-color: rgba(255, 255, 255, 0.9);
        opacity: .9;

    }

    #attacks {
        grid-template-areas:
            "curse balaam-pic"
            "balaam balaam-pic"
            "visit visit";
        font-size: 75%;
        padding-right: .5rem;
    }


    #attacks img {
        margin: auto;
        width: 90%;
    }

    #attacks section {
        margin-top: 0;
        margin-right: 0;
    }

    .visit {
        margin: 2rem auto 1rem auto;
        width: 75%;
    }

}

@media (min-width: 64rem) {
    .freedom {
        top: 16rem;
        max-width: 90%;
        margin: 0 5%;
        left: 0;
    }

    .balaam {
        top: 12rem;
        max-width: 90%;
        margin: 0 5%;
        left: 0;
    }

    #attacks {
        grid-template-areas:
            "curse balaam-pic"
            "balaam visit"
            "visit visit";
        font-size: 100%;

    }



}

@media (max-width: 30em) {
    .question {
        display: block;
    }

    .question button {
        padding: .5rem;
    }
}