.header2 {
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 1rem;
}

.header2 a {
    padding: 1rem;
}

#category {
    display: block;
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-decoration: underline;
    padding: 1rem 1rem;
    color: white;
}

#category::before {
    content: "Categories";
    font-weight: 400;
    font-size: 1.5rem;
}


#category.show::before {
    content: "x";
    font-size: 1.5rem;
    font-weight: 200;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-bottom: 2rem;
}

.cards div {
    display: block;
    padding: 2rem;
    margin: 10px;
    border: 1px solid var(--primary-color);
    max-width: 250px;
    justify-content: center;
    background-color: rgb(243, 242, 242);
    align-items: center;
}

.cards a {
    text-decoration: none;
}

.cards h3:hover {
    color: var(--secondary-color);
}
