@media only screen and (min-width: 38rem) {
    body {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto auto 44px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .middle {
        display: grid;
        grid-template-columns: auto 200px;
        gap: 3rem;
    }

    .desc {
        display: grid;
        grid-template-columns: 200px auto;    
    }

    .desc p {
        margin-top: 0;
    }


}