/*  ----------- COLOR SCHEME ------------ 
orange #ff8007
yellow #ffb404
blue #05badd
dark blue #2b4871
*/

/**************** SITE WIDE *****************/
* {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    box-sizing: border-box;
    color: #2b4871
}



main {
    margin: 0 10px;
    padding: 0 20px;
}

/**************** HEADER *******************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px 44px;
    padding: 5px 20px 5px 30px;
    align-items: center;
    background-color: #2b4871;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: white;

}

#dark-theme {
    border: none;
    background-color: #2b4871;
}

#title {
    padding: 0 10px;
}

/******************** HAMBURGER ************************/
.hamburger {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/********************** NAVIGATION ****************************/
/* nav {
    order: 3;
} */

.navigation {
    display: none;
}

.navigation.show {
    display: flex;
    background-color: #2b4871;
    order: 3;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: white;
    text-decoration: none;
}

.navigation li.current {
    text-decoration: underline;
    color: white;
}

.navigation li.current:hover {
    color: #2b4871;
}

.navigation a:hover {
    background-color: #eee;
    color: #2b4871;
}


/***************** FOOTER *******************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #eee;
    padding: 10px 30px 20px 30px;
    align-items: center;
}

footer p {
    margin: .25rem 0;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
    row-gap: 8px;
    margin: 20px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}




/* ************ Directory ************ */

.view {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.view button {
    padding: .25rem 1rem;
    border: #2b4871 solid 1px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.view button:hover {
    background-color: white;
}

.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    margin-bottom: 20px;
}

.grid section {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px #777;
    align-items: center;
    text-align: center;
}

.grid img {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 10px;
}

.grid h2 {
    text-align: center;
    color: #2b4871;
    margin: 0;
    font-size: 1rem;
    grid-column: 1 / 3;
    align-content: center;
}

.lowerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px solid #ff8007;
}

.infoDiv {
    font-size: .75rem;
    text-align: left;
    padding-right: 10px;
}

.infoDiv a:hover {
    color: #ff8007;
}

.list {
    display: block;
}

.list section {
    display: grid;
    grid-template-columns: 1fr 1fr .75fr .5fr;
    margin-bottom: 20px;
    padding: 0 20px 0 10px;
    align-items: center;
    justify-items: center;
}

.list section:nth-child(odd) {
    background-color: #eee;
}

.list p {
    padding: 5px 10px;
}

.nameDiv p{
    font-style: italic;
    font-size: .5rem;
    padding: 0;
    margin: 0;
}

.nameDiv {
    height: 4rem;
    padding: 10px;
    align-content: center;
}


/* *********** HOME PAGE *************** */

.hero img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #ff8007;
    display: block;
    border-top: 20px solid #ffb404;
}

.weather {
    border: 2px solid #05badd;
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 0;
    align-content: center;
}


.weather p {
    color: #2b4871;
}

.weather figcaption {
    text-transform: capitalize;
    color: #2b4871;
}

.events img {
    width: auto;
    height: 100px;
    margin-right: 10px;
}

.events p {
    font-size: .75rem;
}

.events section {
    border-top: 3px solid #ffb404;
    padding-bottom: 20px;
}

.events section:last-of-type{
    border-bottom: 3px solid #ffb404;
    margin-bottom: 20px;
}

.events section h2 {
 text-align: left;
}

.desc {
    display: block;
}



h2 {
    text-align: center;
}

#right-side {
    align-content: center;
    
}

.call {
    background-color: #2b4871;
    padding:1rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    border-top: 10px solid #ffb404;
    border-bottom: 10px solid #ff8007;
    box-shadow: 0 0 20px #777;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call a {
    color: white;
    padding: 1rem;;
    font-size: 1.5rem;
}

.call a:hover {
    color: #2b4871;
    background-color: white;
}

.call p {
    color: white;
}
