/*  ----------- COLOR SCHEME ------------ 
orange #ff8007
yellow #ffb404
blue #05badd
dark blue #2b4871
*/

/**************** SITE WIDE *****************/
* {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    box-sizing: border-box;
    color: #2b4871
}



main {
    margin: 0 10px;
    padding: 0 20px;
}

/**************** HEADER *******************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px 44px;
    padding: 5px 20px 5px 30px;
    align-items: center;
    background-color: #2b4871;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: white;

}

#dark-theme {
    border: none;
    background-color: #2b4871;
}

#title {
    padding: 0 10px;
}

/******************** HAMBURGER ************************/
.hamburger {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/********************** NAVIGATION ****************************/
@media only screen and (max-width: 38rem) {
    .navigation {
        display: none;
    }

    .navigation.show {
        display: flex;
        background-color: #2b4871;
        order: 3;
    }
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: white;
    text-decoration: none;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li.current {
    text-decoration: underline;
    color: white;
}

.navigation li.current:hover {
    color: #2b4871;
}

.navigation a:hover {
    background-color: #eee;
    color: #2b4871;
}


/***************** FOOTER *******************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #eee;
    padding: 10px 30px 20px 30px;
    align-items: center;
}

footer p {
    margin: .25rem 0;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
    row-gap: 8px;
    margin: 20px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}




/* ************ Directory ************ */

.view {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.view button {
    padding: .25rem 1rem;
    border: #2b4871 solid 1px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.view button:hover {
    background-color: white;
}

.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    margin-bottom: 20px;
}

.grid section {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px #777;
    align-items: center;
    text-align: center;
}

.grid img {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 10px;
}

.grid h2 {
    text-align: center;
    color: #2b4871;
    margin: 0;
    font-size: 1rem;
    grid-column: 1 / 3;
    align-content: center;
}

.lowerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px solid #ff8007;
}

.infoDiv {
    font-size: .75rem;
    text-align: left;
    padding-right: 10px;
}

.infoDiv a:hover {
    color: #ff8007;
}

.list {
    display: block;
}

.list section {
    display: grid;
    grid-template-columns: 1fr 1fr .75fr .5fr;
    margin-bottom: 20px;
    padding: 0 20px 0 10px;
    align-items: center;
    justify-items: center;
}

.list section:nth-child(odd) {
    background-color: #eee;
}

.list p {
    padding: 5px 10px;
}

.nameDiv p{
    font-style: italic;
    font-size: .5rem;
    padding: 0;
    margin: 0;
}

.nameDiv {
    height: 4rem;
    padding: 10px;
    align-content: center;
}


/* *********** HOME PAGE *************** */
.hero {
    position: relative;
}


.hero img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #ff8007;
    display: block;
    border-top: 20px solid #ffb404;
}

.weather {
    border: 2px solid #05badd;
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 1rem;
    align-content: center;
}


.weather p {
    color: #2b4871;
    margin: 2px 0;
}

.forecast {
    margin-top: 10px;
}

.forecast figure {
    padding-bottom: 10px;
    border-bottom: 2px solid #ff8007;
    margin-top: 0;
}

.forecast figure:last-of-type {
    border-bottom: none;
}

.current figure {
    border-bottom: 5px solid #05badd;
    padding-bottom: 10px;
    margin-top: 0;
}

.weather figcaption {
    text-transform: capitalize;
    color: #2b4871;
}

.events img {
    width: auto;
    height: 100px;
    margin-right: 10px;
}

.events p {
    font-size: .75rem;
}

.events section {
    border-top: 3px solid #ffb404;
    padding-bottom: 20px;
}

.events section:last-of-type{
    border-bottom: 3px solid #ffb404;
    margin-bottom: 20px;
}

.events section h2 {
 text-align: left;
}

.desc {
    display: block;
}



h2 {
    text-align: center;
}

#right-side {
    align-content: center;
    
}

.call {
    position: absolute;
    top: 2.5rem;
    right: 10%;
    background-color: #2b4871;
    padding: .5rem 3rem;
    text-align: center;
    border-top: 5px solid #ffb404;
    border-bottom: 5px solid #ff8007;
    box-shadow: 0 0 20px #777;
}

.call a {
    color: white;
}

.call a:hover {
    color: #2b4871;
    background-color: white;
}

.call p {
    color: white;
}

/* *********** Form ************* */
fieldset {
    margin: 2rem 2% 2rem 2%;
    border: 1px solid #ff8007;
    border-radius: 6px;
    padding: 1rem 2% 2rem 2%;
    max-width: 800px;

}

legend {
    color: #2b4871;
    padding: 0 .5rem;
}

label {
    display: block;
    padding-top: 1rem;
    color: #2b4871;
    font-size: .9rem;
}

label:last-of-type {
    padding-bottom: .1rem;
}

.wf1 div {
    padding-top: 2rem;
    color: #2b4871;
    font-size: .9rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

input[type="radio"] {
    margin-right: 6px;
}

button[type="submit"] {
    border: none;
    background-image: linear-gradient(#2b4871, #1d314b);
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 94%;
    max-width: 400px;
    margin: -1rem 2% 2rem 4%;
    box-shadow: 0 0 20px #777;;
}

.levelCards {
    margin: 2rem 2% 2rem 2%;
    padding: 1rem 2% 2rem 2%;
    max-width: 800px;
    text-align: center;
    color: white;
    opacity: 0;
    transition:3s opacity 1s ease-in-out;

}

.levelCards.visible {
    opacity: 1;
}

.levelCards section {
    background-color: #2b4871;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 6px;
}

.levelCards h1 {
    font-size: 1.5rem;
}

.levelCards h2 {
    color: white;
    margin: 0 .5rem .5rem .5rem;
    font-size: 1rem;
    
}

.levelCards button {
    background-color: white;
}

.levelCards button:hover {
    background-color: #ccc;
}

dialog {
    margin: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

#thanks {
    text-align: center;
}